DATABASE_URL=ecto://USER:PASS@HOST/DATABASE?sslmode=require
SECRET_KEY_BASE=
PHX_HOST=localhost
PORT=4000
POOL_SIZE=5

PGUSER=
PGPASSWORD=
PGHOST=leut.your-database.de
PGDATABASE=db0
PGSSLMODE=verify-full
PGSSLROOTCERT=sqlca.pem

BUCKET_NAME=imaedge-dev-local
AWS_ENDPOINT_URL_S3=https://t3.storage.dev
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=auto
TIGRIS_PUBLIC_BASE_URL=https://imaedge-dev-local.t3.tigrisfiles.io
